SCM_USERNAME=entando-build-user
SCM_PASSWORD=Entand018
SOURCE_REPOSITORY_URL=https://bitbucket.org/entando/central-entando.git
SOURCE_REPOSITORY_REF=EN-1904
CONTEXT_DIR=
REDHAT_REGISTRY_PASSWORD=Ainn!kk1
REDHAT_REGISTRY_USERNAME=a.barnard@entando.com
EXTERNAL_DOCKER_REGISTRY_URL=docker.io
EXTERNAL_DOCKER_USERNAME=ampie
EXTERNAL_DOCKER_PASSWORD=Ainn!kk1
PRODUCTION_CLUSTER_URL=console.entando.com:8443
PRODUCTION_CLUSTER_USERNAME=entando
PRODUCTION_CLUSTER_PASSWORD=

