<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
 <mirrors>
   <!-- ### configured mirrors ### -->
   <mirror>
     <id>mirror.default</id>
     <mirrorOf>*</mirrorOf>
     <name>An internal openshift mirror</name>
     <url>http://nexus-openshift.192.168.42.117.nip.io/repository/maven-public/</url>
   </mirror>
 </mirrors>
</settings>
