**/s2i/bin/build-jetty-command.sh
**/s2i/bin/determine-branch.sh
**/s2i/bin/determine-driver.sh
**/s2i/bin/init-data-from-directory.sh
**/s2i/bin/init-data-from-project.sh
**/s2i/bin/init-db.sh
**/s2i/bin/init-db-from-source.sh
**/s2i/bin/init-db-from-deployment.sh
**/s2i/bin/init-db-from-war.sh
**/s2i/bin/init-derby-from-war.sh
**/s2i/bin/prepare-data.sh
**/s2i/bin/start-war-in-jetty.sh
**/s2i/bin/translate-jboss-variables.sh
**/contrib/wfmodules/org/apache/derby
**/contrib/settings.xml
**/contrib/maven-setup
**/my.cnf
**/forwarding.log
